@font-face{
    font-family: Hermit;
    src: url(fonts/Hurmit.otf);
}
.copy-right{
    text-align: center;
    padding: 15px 0;
    background-color: #333333;
    color: white;
    font-family: sans-serif;
}
.footer-top{
    text-align: left;
    padding: 15px 0;
    background-color: #003366;
    color: white;
    font-family: sans-serif;
}
h4{
    font-family: Hermit;
}
